.container {
    border: solid;
    border-color: black;
    width: 500px;
    height: 500px;
    display: flex;
}

.layout {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
}

.top {
    border: solid;
    border-color: black;
    width: 400px;
    height: 75px;
    padding-left: 10px;
    background-color: #a6b992;
}

.bottom {
    border: solid;
    border-color: black;
    width: 400px;
    height: 300px;
    display: flex;
}


.numbers {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#number,
#numberClear {
    width: 30%;
    height: 20%;
    color: gray;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 10px;
}

.add,
.subtract,
.multiply,
.divide {
    width: 90%;
    height: 20%;
    color: gray;
}

.result {
    color: grey;
}